@import "~video-react/dist/video-react.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}
.ymaps-2-1-79-gototech {
  display: none !important;
}
.video-react .video-react-big-play-button {
  background-color: #f4511e;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.video-react-control-text {
  clip: none;
}
control:before,
.video-react .video-react-big-play-button:before {
  content: "";
  font-size: 3rem;
  position: absolute;
  top: 25%;
}
